/local.properties
/.idea/*
!/YukariProject/.idea/dictionaries/
!/YukariProject/.idea/encodings.xml
!/YukariProject/.idea/misc.xml
/.gradle/
/.settings/
/build/
/captures/
/Yukari/*.apk
/Yukari/build/
.directory
*.apk
*.iml