[submodule "GalleryMultiPicker"]
	path = GalleryMultiPicker
	url = https://github.com/shibafu528/GalleryMultiPicker.git
[submodule "twpfparser"]
	path = twpfparser
	url = https://github.com/shibafu528/twpfparser.git
[submodule "yukari-exvoice"]
	path = yukari-exvoice
	url = https://github.com/shibafu528/yukari-exvoice.git
