<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="shibafu.yukari"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <!-- Yukari URL accelerator plugin -->
        <intent>
            <action android:name="shibafu.yukari.ACTION_LINK_ACCEL" />
        </intent>
        <!-- twicca plugin -->
        <intent>
            <action android:name="jp.r246.twicca.ACTION_EDIT_TWEET" />
        </intent>
        <intent>
            <action android:name="jp.r246.twicca.ACTION_SHOW_TWEET" />
        </intent>
        <intent>
            <action android:name="jp.r246.twicca.ACTION_SHOW_USER" />
        </intent>
        <!-- Simeji mushroom (たぶん使ってない気がするけど一応) -->
        <intent>
            <action android:name="com.adamrocker.android.simeji.ACTION_INTERCEPT"/>
        </intent>
        <!-- これ聴いてるんだからねっ！ (@solata2009) https://play.google.com/store/apps/details?id=biz.Fairysoft.KoreKiiteru -->
        <package android:name="biz.Fairysoft.KoreKiiteru" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:name=".core.App"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>

        <activity
            android:name="shibafu.yukari.activity.OAuthActivity"
            android:label="@string/title_activity_oauth"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mastodon"
                    android:scheme="yukari" />
            </intent-filter>
        </activity>

        <service android:name=".service.TwitterService" />
        <service android:name=".service.AsyncCommandService"/>
        <service
            android:name=".service.CacheCleanerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":cleaner"/>

        <activity
            android:name="shibafu.yukari.activity.TweetActivity"
            android:label="@string/title_activity_tweet"
            android:theme="@style/VertAnimationTheme"
            android:taskAffinity=".tweet"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.TweetShortcutActivity"
            android:label="@string/title_activity_tweet"
            android:icon="@drawable/ic_launcher_tweet"
            android:theme="@style/AppThemeTranslucent"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
            </intent-filter>
        </activity>

        <service android:name=".service.PostService"/>

        <activity
            android:name="shibafu.yukari.activity.StatusActivity"
            android:label="@string/title_activity_status"
            android:theme="@style/ColorsTheme.Light.Translucent" >
        </activity>

        <activity
            android:name=".activity.IntentActivity"
            android:theme="@style/ColorsTheme.Light.Translucent.FullTransparent"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" android:host="twitter.com" />
                <data android:scheme="https" android:host="twitter.com" />
                <data android:scheme="http" android:host="www.twitter.com" />
                <data android:scheme="https" android:host="www.twitter.com" />
                <data android:scheme="http" android:host="mobile.twitter.com" />
                <data android:scheme="https" android:host="mobile.twitter.com" />
            </intent-filter>
            <intent-filter android:label="Open Tweet" android:icon="@drawable/ic_prof_tweets">
                <action android:name="shibafu.yukari.ACTION_LINK_ACCEL"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http" android:host="twitter.com" />
                <data android:scheme="https" android:host="twitter.com" />
                <data android:scheme="http" android:host="www.twitter.com" />
                <data android:scheme="https" android:host="www.twitter.com" />
                <data android:scheme="http" android:host="mobile.twitter.com" />
                <data android:scheme="https" android:host="mobile.twitter.com" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="yukari" android:host="command" />
            </intent-filter>
        </activity>

        <activity
            android:name="shibafu.yukari.activity.ProfileActivity"
            android:label="@string/title_activity_profile"/>

        <activity
            android:name=".plugin.MorseInputActivity"
            android:icon="@drawable/ic_launcher_morse"
            android:label="@string/title_morse_input"
            android:theme="@style/AppThemeTranslucent"
            android:exported="true">
            <intent-filter>
                <action android:name="com.adamrocker.android.simeji.ACTION_INTERCEPT" />

                <category android:name="com.adamrocker.android.simeji.REPLACE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SNPickerActivity"
            android:label="@string/title_activity_snpicker"
            android:theme="@style/ColorsTheme.Light.Dialog">
        </activity>

        <activity
            android:name=".activity.TraceActivity"
            android:theme="@style/AppDialogThemeWhenLarge"
            android:label="Trace" />

        <activity
            android:name=".activity.PreviewActivity2"
            android:theme="@style/ColorsTheme.Light.Translucent.NoTitle"/>
        <activity
            android:name=".activity.MoviePreviewActivity"
            android:theme="@style/ColorsTheme.Light.Translucent.NoTitle"/>

        <activity
            android:name=".activity.AccountChooserActivity"
            android:theme="@style/ColorsTheme.Light.Dialog"
            android:label="@string/title_activity_accountchooser"/>

        <activity
            android:name=".activity.AccountManageActivity"
            android:label="@string/title_activity_accountmanage"/>

        <activity
            android:name=".activity.ConfigActivity"
            android:label="@string/title_activity_config"/>

        <activity
            android:name=".activity.MuteActivity"
            android:label="@string/title_activity_mute"/>

        <activity
            android:name=".activity.AutoMuteActivity"
            android:label="@string/title_activity_auto_mute"/>

        <activity
            android:name=".activity.FontSelectorActivity"
            android:label="@string/title_activity_font_selector"/>

        <activity android:name=".activity.CommandsPrefActivity"/>

        <activity
            android:name=".activity.LicenseActivity"
            android:label="@string/title_activity_about" />

        <activity
            android:name=".activity.ProfileEditActivity"
            android:label="@string/title_activity_profile_edit"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>

        <activity
            android:name=".activity.TabEditActivity"
            android:label="@string/title_activity_column_edit" />

        <activity
            android:name=".activity.UserSearchActivity"
            android:theme="@style/YukariSearchTheme"
            android:label="@string/title_activity_user_search"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".activity.MaintenanceActivity"
            android:label="@string/title_activity_maintenance" />

        <activity
            android:name="info.shibafu528.gallerymultipicker.MultiPickerActivity"
            android:label="@string/title_activity_picture_chooser"
            android:uiOptions="splitActionBarWhenNarrow">
        </activity>

        <activity
            android:name=".activity.IntentChooserActivity"
            android:theme="@style/ColorsTheme.Dark.Dialog"/>

        <activity
            android:name=".activity.AboutActivity"
            android:theme="@style/YukariAboutTheme"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.QueryEditorActivity"
                  android:windowSoftInputMode="adjustResize"
                  android:label="@string/title_activity_query_editor"/>

        <activity
            android:name=".activity.PluggaloidOutputActivity"
            android:label="@string/title_activity_pluggaloid_output"/>

        <activity
                android:name=".activity.BackupActivity"
                android:label="@string/title_activity_backup"/>

        <activity
            android:name=".activity.WelcomeActivity"/>

        <activity
            android:name=".activity.ChannelManageActivity"
            android:label="@string/title_activity_channel_manage"/>

        <activity
            android:name=".activity.MastodonReportActivity"
            android:label="@string/title_activity_mastodon_report"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.MastodonFollowActivity"
            android:label="@string/title_activity_mastodon_follow" />

        <activity
            android:name=".activity.NotificationPreferenceActivity"
            android:label="通知設定" />
   </application>

</manifest>
