<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shibafu.yukari"
    android:installLocation="auto"
    android:versionCode="50"
    android:versionName="1.2.0.224α (rehearsal 150728)" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.twitter.android.permission.AUTH_APP"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name="shibafu.yukari.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="vnd.shibafu.yukari/hash" />
            </intent-filter>
        </activity>
        <activity
            android:name="shibafu.yukari.activity.OAuthActivity"
            android:label="@string/title_activity_oauth"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="twitter"
                    android:scheme="yukari" />
            </intent-filter>
        </activity>

        <service android:name="shibafu.yukari.service.TwitterService" />
        <service
            android:name=".service.CacheCleanerService"
            android:process=":cleaner"/>

        <activity
            android:name="shibafu.yukari.activity.TweetActivity"
            android:label="@string/title_activity_tweet"
            android:theme="@style/VertAnimationTheme" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TweetShortcutActivity"
            android:label="@string/title_activity_tweet"
            android:icon="@drawable/ic_launcher_tweet"
            android:theme="@style/AppThemeTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
            </intent-filter>
        </activity>
        <service android:name=".service.PostService"/>

        <activity
            android:name="shibafu.yukari.activity.StatusActivity"
            android:label="@string/title_activity_status"
            android:theme="@style/YukariLightTheme.Translucent" >
        </activity>
        <activity
            android:name=".activity.IntentActivity"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" android:host="twitter.com" />
                <data android:scheme="https" android:host="twitter.com" />
                <data android:scheme="http" android:host="www.twitter.com" />
                <data android:scheme="https" android:host="www.twitter.com" />
                <data android:scheme="http" android:host="mobile.twitter.com" />
                <data android:scheme="https" android:host="mobile.twitter.com" />
            </intent-filter>
            <intent-filter android:label="Open Tweet" android:icon="@drawable/ic_prof_tweets">
                <action android:name="shibafu.yukari.ACTION_LINK_ACCEL"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http" android:host="twitter.com" />
                <data android:scheme="https" android:host="twitter.com" />
                <data android:scheme="http" android:host="www.twitter.com" />
                <data android:scheme="https" android:host="www.twitter.com" />
                <data android:scheme="http" android:host="mobile.twitter.com" />
                <data android:scheme="https" android:host="mobile.twitter.com" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="yukari" android:host="command" />
            </intent-filter>
        </activity>
        <activity
            android:name="shibafu.yukari.activity.AssetExtractActivity"
            android:label="@string/title_activity_assetextract"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="shibafu.yukari.activity.ProfileActivity"
            android:label="@string/title_activity_profile">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="vnd.shibafu.yukari/user" />
            </intent-filter>
        </activity>

        <provider
            android:name="shibafu.yukari.provider.LinkProvider"
            android:authorities="shibafu.yukari.link"
            android:exported="false" />

        <!-- 未実装Intentはここに飛ばせ -->
        <activity
            android:name="shibafu.yukari.activity.NotFoundStubActivity"
            android:theme="@android:style/Theme.NoDisplay">
        </activity>

        <activity
            android:name=".plugin.MorseInputActivity"
            android:icon="@drawable/ic_launcher_morse"
            android:label="@string/title_morse_input"
            android:theme="@style/AppThemeTranslucent" >
            <intent-filter>
                <action android:name="com.adamrocker.android.simeji.ACTION_INTERCEPT" />

                <category android:name="com.adamrocker.android.simeji.REPLACE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SNPickerActivity"
            android:label="@string/title_activity_snpicker"
            android:theme="@style/YukariLightDialogTheme">
        </activity>

        <receiver android:name=".receiver.StubReceiver"/>

        <activity
            android:name=".activity.TraceActivity"
            android:theme="@style/AppDialogThemeWhenLarge"
            android:label="Trace" />

        <activity
            android:name=".activity.PreviewActivity"
            android:theme="@style/AppThemeTranslucentBg"/>
        <activity
            android:name=".activity.MoviePreviewActivity"
            android:theme="@style/AppThemeTranslucentBg"/>

        <activity
            android:name=".activity.AccountChooserActivity"
            android:theme="@style/YukariDialogTheme"
            android:label="@string/title_activity_accountchooser"/>

        <activity
            android:name=".activity.AccountManageActivity"
            android:label="@string/title_activity_accountmanage"/>

        <activity
            android:name=".activity.ConfigActivity"
            android:label="@string/title_activity_config"/>

        <activity
            android:name=".activity.MuteActivity"
            android:label="@string/title_activity_mute"/>

        <activity
            android:name=".activity.AutoMuteActivity"
            android:label="@string/title_activity_auto_mute"/>

        <activity
            android:name=".activity.FontSelectorActivity"
            android:label="@string/title_activity_font_selector"/>

        <activity android:name=".activity.CommandsPrefActivity"/>

        <activity
            android:name=".activity.LicenseActivity"
            android:label="@string/title_activity_about" />

        <activity
            android:name=".activity.ProfileEditActivity"
            android:label="@string/title_activity_profile_edit"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>

        <activity
            android:name=".activity.TabEditActivity"
            android:label="@string/title_activity_column_edit" />

        <activity
            android:name=".plugin.OpenAclogActivity"
            android:label="@string/title_activity_open_aclog">
            <intent-filter>
                <action android:name="jp.r246.twicca.ACTION_SHOW_TWEET"/>
                <action android:name="twitterShareLibrary.lib.intent.ACTION_SHOW_STATUS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity
            android:name=".plugin.UserPluginActivity"
            android:theme="@style/AppThemeTranslucent"/>
        <activity-alias
            android:name=".plugin.OpenTwilogActivity"
            android:targetActivity=".plugin.UserPluginActivity"
            android:label="@string/title_activity_open_twilog"
            android:icon="@drawable/ic_twilog">
            <meta-data android:name="shibafu.yukari.PLUGIN_SHORT_LABEL" android:value="twilog"/>
            <meta-data android:name="shibafu.yukari.PLUGIN_LIGHT_ICON" android:resource="@drawable/ic_twilog"/>
            <meta-data android:name="shibafu.yukari.PLUGIN_DARK_ICON" android:resource="@drawable/ic_twilog_d"/>
            <intent-filter>
                <action android:name="jp.r246.twicca.ACTION_SHOW_USER"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="jp.r246.twicca.category.OWNER"/>
                <category android:name="jp.r246.twicca.category.USER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="twitterShareLibrary.lib.intent.ACTION_SHOW_USER"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="twitterShareLibrary.lib.intent.CATEGORY_OWNER"/>
                <category android:name="twitterShareLibrary.lib.intent.CATEGORY_USER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".plugin.OpenFavstarActivity"
            android:targetActivity=".plugin.UserPluginActivity"
            android:label="@string/title_activity_open_favstar"
            android:icon="@drawable/ic_favorite_m">
            <meta-data android:name="shibafu.yukari.PLUGIN_SHORT_LABEL" android:value="Favstar"/>
            <meta-data android:name="shibafu.yukari.PLUGIN_LIGHT_ICON" android:resource="@drawable/ic_favorite_m"/>
            <meta-data android:name="shibafu.yukari.PLUGIN_DARK_ICON" android:resource="@drawable/ic_favorite_m_d"/>
            <intent-filter>
                <action android:name="jp.r246.twicca.ACTION_SHOW_USER"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="jp.r246.twicca.category.OWNER"/>
                <category android:name="jp.r246.twicca.category.USER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="twitterShareLibrary.lib.intent.ACTION_SHOW_USER"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="twitterShareLibrary.lib.intent.CATEGORY_OWNER"/>
                <category android:name="twitterShareLibrary.lib.intent.CATEGORY_USER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".plugin.OpenAclogUserActivity"
            android:targetActivity=".plugin.UserPluginActivity"
            android:label="@string/title_activity_open_aclog_user"
            android:icon="@drawable/ic_aclog">
            <meta-data android:name="shibafu.yukari.PLUGIN_SHORT_LABEL" android:value="aclog"/>
            <meta-data android:name="shibafu.yukari.PLUGIN_LIGHT_ICON" android:resource="@drawable/ic_aclog"/>
            <meta-data android:name="shibafu.yukari.PLUGIN_DARK_ICON" android:resource="@drawable/ic_aclog_d"/>
            <intent-filter>
                <action android:name="jp.r246.twicca.ACTION_SHOW_USER"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="jp.r246.twicca.category.OWNER"/>
                <category android:name="jp.r246.twicca.category.USER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="twitterShareLibrary.lib.intent.ACTION_SHOW_USER"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="twitterShareLibrary.lib.intent.CATEGORY_OWNER"/>
                <category android:name="twitterShareLibrary.lib.intent.CATEGORY_USER"/>
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".activity.UserSearchActivity"
            android:theme="@style/YukariSearchTheme"
            android:label="@string/title_activity_user_search"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".activity.MaintenanceActivity"
            android:label="@string/title_activity_maintenance" />

        <activity
            android:name="info.shibafu528.gallerymultipicker.MultiPickerActivity"
            android:label="@string/title_activity_picture_chooser"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
            <meta-data
                android:name="info.shibafu528.gallerymultipicker.ICON_THEME"
                android:value="dark"/>
        </activity>

        <activity
            android:name=".activity.TwpfActivity"
            android:label="@string/title_activity_twpf">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="http" android:host="twpf.jp"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.IntentChooserActivity"
            android:theme="@style/YukariDarkDialogTheme"/>

        <activity android:name=".activity.BookmarkRepairActivity"/>

        <activity
            android:name=".activity.AboutActivity"
            android:theme="@style/YukariAboutTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.TemplateEditActivity"
            android:label="@string/title_activity_template_edit"/>
   </application>

</manifest>
